<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>{{title}}</h1>
    <div>тут вставишь свою форму</div>
    <div>
      <form method="POST" action="/">
        <input type="text" name="username" />
        <input type="submit" />
      </form>
    </div>
  </body>
  <html></html>
</html>